* {
  border: none;
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
}

body {
  color: #222;
  font-family: 'Sarabun', sans-serif;
  line-height: 2;
  margin: 0px auto;
  padding: 1em;
}


code {
  color: #060;
  font-family: sans-serif;
  font-size: 100%;
  font-weight: bold;
}

code b {
  font-weight: bold;
  font-style: italic;
}


a {
  text-decoration: none;
}

a:link {
  color: #004D93;
}

a:visited {
  color: #009;
}

a:hover {
  border-bottom: 1px solid #E70431;
  color: red;
}


h1 {
  font-size: 300;
  margin-bottom: 3em;
}

h2 {
  background-color: #29b63c;
  border-radius: 1em;
  color: #FFF;
  font-size: 105%;
  font-style: normal;
  font-weight: bold;
  margin: 0.7em 0 0.7em 0;
  padding: .25em 1em;
  text-align: left;
}

h3 {
  font-size: 105%;
  font-weight: bold;
  margin-top: 1.4em;
  text-align: left;
}

h4 {
  color: #555;
  font-size: 105%;
  font-weight: bold;
  margin-top: 1.1em;
  text-align: left;
}


p {
  margin-top: 1.1em;
}


ul, ol {
  margin-top: 0em;
}

ul li {
  background-image: none;
  background-position: 1em 0.55em;
  background-repeat: no-repeat;
  list-style-type: none;
  padding-left: 2em;
}

ol {
  margin-left: 2em;
}

ol li {
  margin-top: 0.3em;
}

ul.contenidas {
  background-color: #EEF;
  font-size: 85%;
  margin: 4em 0 4em 0;
  padding: 0.7em 0 0.7em 0;
}

ul.contenidas li.h3 {
  margin-left: 2em;
}

ul.contenidas li.h4 {
  margin-left: 4em;
}

#pede {
  border-top: 1px solid #999;
  color: #444;
  margin-bottom: 1.1em;
  margin-top: 3em;
  font-size: 70%;
  padding-top: 0.2em;
  text-align: center;
}

#pede p {
  margin: 0;
}

#paje-prima {
  background-color: #FFF;
  border-radius: 0.5em;
  box-shadow: 0px 0px 8px #888;
  margin: auto;
  max-width: 60em;
  padding: 2em;
}

#paje-prima p {
  margin-top: 0px;
  padding-top: 0px;
}

#paje-prima h1 {
  display: none;
}

#paje-prima #logo {
  float: left;
  margin-bottom: 0;
  margin-right: 1em;
}

#paje-prima .menu {
  clear: both;
  display: table;
  width: 100%;
}

#paje-prima .menu .colona {
  display: table-cell;
  width: 50%;
}

#paje-prima .menu .colona:first-child {
  padding-right: 40px;
}
