* {
  border: none;
  margin: 0;
  padding: 0;
}

html {
  background-color: white;
}

body {
  color: #222;
  font-family: 'Thasadith', sans-serif;
  margin: 0px auto;
  padding: 1em;
}


a {
  text-decoration: none;
}

a:link {
  color: #004D93;
}

a:visited {
  color: #009;
}

a:hover {
  border-bottom: 1px solid #E70431;
  color: red;
}


h1 {
  font-size: 300;
  margin-bottom: 3em;
}

h2 {
  background-color: #1BC7DA;
  border-radius: 1em;
  color: #FFF;
  font-size: 105%;
  font-style: normal;
  font-weight: bold;
  margin: 0.7em 0 0.7em 0;
  padding: .25em 1em;
  text-align: left;
}

h3 {
  font-size: 105%;
  font-weight: bold;
  margin-top: 1.4em;
  text-align: left;
}

h4 {
  color: #555;
  font-size: 105%;
  font-weight: bold;
  margin-top: 1.1em;
  text-align: left;
}


#paje-prima {
  background-color: #FFF;
  border-radius: 0.5em;
  box-shadow: 0px 0px 8px #888;
  margin: auto;
  max-width: 60em;
  padding: 2em;
}

#background{
    position:absolute;
    z-index:0;
    background:white;
    display:block;
    min-height:50%; 
    min-width:50%;
    color:yellow;
}

#content{
    position:absolute;
    z-index:1;
}

#bg-text
{
    color:lightgrey;
    font-size:120px;
    transform:rotate(300deg);
    -webkit-transform:rotate(300deg);
}

