body {
  color: #222;
  font-family: 'Sarabun', sans-serif;
  margin: 0px auto;
  padding: 1em;
  float: center;
}

img {
	border-radius: 1em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  border-radius: 1em;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 8px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}